.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    color: var(--gray-300);
    background: var(--gray-700);
}

.header img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}
